<!DOCTYPE html>
<html lang="en">
<head>
    <title>CryptoSummary!</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>

</head>
<body>
<% if(fromURL) { %>
<div id="top-alert" class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>CryptoSummary! was updated</strong> rebuild your custom URL please
</div>
<% } %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    CryptoSummary! <br>
                    <small>Summary of your crypto investments</small>
                    <br>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-md-12">
                <button type="button" class="btn btn-block btn-primary" id="modal-285181" href="#modal-container-285181"
                        role="button" data-toggle="modal" onClick="openModal()">
                    <b>Build your custom URL</b>
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="container-fluid">
            <div class="col-md-6">
                <h3>
                    What is <b>CryptoSummary!</b> all about?
                </h3>
                <strong>I faced following situation</strong><br>
                I invested some money into various cryptocurrencies at different times, and it became <em><strong>complicated</strong></em>
                for me to keep track about my <strong>winnings</strong> and <strong>looses</strong>.<br>
                <br>
                <h3>The <b>options</b> <em>were</em> not that great ...</h3>
                <p>
                <blockquote>

                    <strong>FAST : </strong> checking the current coin value

                    <small><em>But that didnt tell me <strong>anything about the actual value of my
                                investment..</strong></em></small>
                </blockquote>
                <blockquote>
                    <strong>SLOW : </strong> logging into my Exchange and check it there
                    <small><em>But that took <strong>unnecessary long and was complicated..</strong></em></small>
                </blockquote>
                </p>
                <h3>
                    <b>Solution?</b></h3>
                <p>Well lets imagine you have a direct URL, <strong>saved as a bookmark</strong> that knows all your
                    open positions and after opening it immidiatelly tells you about how you stand?<br><br>
                    Thats where <strong>CryptoSummary!</strong> steps in - just create your custom, personallised URL
                    and save it as a bookmark</p>
                <h3>
                    <b>Example</b></h3>
                <p>Under the following button there is a URL that shows and analyses <strong>three</strong> different
                    positions. Check it out</p>
                <button type="button" class="btn btn-block btn-info"
                        onclick="location.href = 'http://cryptosummary.herokuapp.com/?0=USD&1=BTC*1.5*561.23&2=EOS*12*1.1&3=XEM*3212.23*0.84';">
                    <b>Example URL</b> - three open positions
                </button>
            </div>
            <br>
            <div class="col-md-6">
                <img alt="Bootstrap Image Preview"
                     src="/screenshot.png"
                     class="img-thumbnail img-responsive"/>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="container-fluid">
            <div class="col-md-12">
                <button type="button" class="btn btn-block btn-primary" id="modal-285181" href="#modal-container-285181"
                        onClick="openModal()"
                        role="button" data-toggle="modal">
                    <b>Build your custom URL</b>
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="container-fluid">
            <div class="col-md-12">
                <h3>
                    <b>Few notes</b></h3>
                <ul>
                    <li>
                        <b>Currency support: </b> EUR and USD
                    </li>
                    <li>
                        <b>URL builder support: </b> top 50 coins from <a href="http://coinmarketcap.com/">http://coinmarketcap.com</a>
                    </li>
                    <li>
                        <b>URL support: </b> top 100 coins from <a href="http://coinmarketcap.com/">http://coinmarketcap.com</a>
                    </li>
                    <li>
                        <b>Current values from: </b> Coinmarketcap.com
                    </li>
                    <li>
                        <b>Get in touch or help out? GITHUB: </b> <a href="https://github.com/ogoossens/CryptoSummary">https://github.com/ogoossens/CryptoSummary</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="modal fade" id="modal-container-285181" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <b>CryptoSummary!</b> Custom URL builder
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Coin</label>
                        <div class="form-group">
                            <select class="form-control" id="coinType"
                                    onChange='document.getElementById("basic-addon2").textContent=document.getElementById("coinType").value;'>
                                <%
                                for(let i = 0; i < urlBuilderData.length; i++) { %>
                                <option value="<%= urlBuilderData[i].symbol %>"><%= urlBuilderData[i].name %></option>
                                <% } %>
                            </select>
                            <small class="form-text text-muted">*smaller coins need manual URL creation</small>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>Amount</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Amount"
                                   aria-describedby="basic-addon2" id="amount">
                            <span class="input-group-addon" id="basic-addon2">BTC</span>
                        </div>
                        <br>
                    </div>
                    <div class="col-lg-3">
                        <label>Currency</label>
                        <div class="form-group">
                            <select class="form-control" id="currency"
                                    onChange='swapCurrency()'>
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>Price when purchased</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Price"
                                   aria-describedby="basic-addon2" id="price">
                            <span class="input-group-addon" id="basic-addon3">EUR</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-block btn-primary"
                                onclick='constructURL()'>
                            <b>1. Add</b> currency pair to your custom URL
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon"
                                  id="basic-addon4">CryptoSummary ... .com/?0=EUR</span>
                            <input type="text" class="form-control" id="basic-url"
                                   aria-describedby="basic-addon4" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" id="goToButton" class="btn btn-block basic disabled"
                                onclick="goToConstructed()">
                            <b>2. </b>Visit your custom <b>URL</b> and <b>BOOKMARK</b> it :)
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" class="close" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-105010962-1', 'auto');
    ga('send', 'pageview');

</script>
<script>
    function clearContents() {
        document.getElementById("amount").value = "";
        document.getElementById("price").value = "";
        document.getElementById("coinType").selectedIndex = "0";
        document.getElementById("basic-addon2").textContent = document.getElementById("coinType").value;
        document.getElementById("amount").className = "form-control";
        document.getElementById("price").className = "form-control";
    }

    function openModal() {
        clearContents();
        urlBuild = 1;
        document.getElementById("basic-url").value = "";
        document.getElementById("goToButton").className = "btn btn-block basic disabled";
    }

    function goToConstructed() {
        if (!(document.getElementById("basic-url").value == "")) {
            let goTo = "http://cryptosummary.herokuapp.com/?" + "0=" + getCurrency() + "&" + document.getElementById("basic-url").value;
            location.href = goTo;
        }
    }

    function swapCurrency() {
        document.getElementById("basic-addon3").textContent = document.getElementById("currency").value;
        document.getElementById("basic-addon4").textContent = "CryptoSummary ... .com/?0=" + getCurrency() + "&";
    }

    function getCurrency() {
        return document.getElementById("currency").value;
    }

    function constructURL() {
        let amount = document.getElementById("amount").value;
        let price = document.getElementById("price").value;
        let coin = document.getElementById("coinType").value;

        amount = amount.replace(",", ".");
        price = price.replace(",", ".");

        if (amount == "" || isNaN(amount)) {
            document.getElementById("amount").className = "form-control alert-danger";
        } else {
            document.getElementById("amount").className = "form-control";
        }

        if (price == "" || isNaN(price)) {
            document.getElementById("price").className = "form-control alert-danger";

        } else {
            document.getElementById("price").className = "form-control";
            if (!(amount == "" || isNaN(amount))) {
                document.getElementById("basic-url").value += urlBuild + "=" + coin + "*" + amount + "*" + price + "&";
                urlBuild++;
                clearContents();
                document.getElementById("goToButton").className = "btn btn-block btn-success";

            }
        }
    }
</script>
</body>
</html>